# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.vercel

# Google Play / Billing
google-play-service-account.json
google-services.json
GoogleService-Info.plist
*.keystore
release.keystore

# Sensitive files
*.env
.env.local
.env.production

# Android Emulator
.android/
*.avd/
android/metrics/

# Windows
AppData/
INetCache/
**/User Data/**

# EAS
.easignore
